<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
  <main class="container">
    <div>
      <% if (messages.length > 0) { %> <% for (let i = 0; i < messages.length;
      i++) {%>
      <div class="row justify-content-center">
        <div class="col col-md-4">
          <div class="card border-info mb-3">
            <div class="card-body">
              <p class="card-text text-dark fs-5"><%= messages[i].text %></p>

              <p class="card-text text-muted">
                <span class="fw-bold"><%= messages[i].user%></span>
                <small class="fw-lighter float-end"
                  ><%= messages[i].added.toLocaleDateString() %></small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% } else { %>
      <p>No messages yet</p>
      <% } %>
    </div>
  </main>

  <footer></footer>
</div>
<%- include('./partials/bottom'); %>
